.calendar-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.calendar-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(180deg, rgb(38, 139, 186) 0.00%,rgba(180, 173, 183, 0.3) 100.00%,rgba(180, 173, 183, 0.3) 100.00%);
}
.calendar-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.calendar-navlink {
  display: contents;
}
.calendar-logo {
  height: var(--dl-size-size-small);
  text-decoration: none;
}
.calendar-desktop-menu {
  display: flex;
}
.calendar-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.calendar-navlink1 {
  font-weight: 700;
}
.calendar-navlink2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.calendar-navlink3 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.calendar-navlink4 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.calendar-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.calendar-icon {
  width: 24px;
  height: 24px;
  border-color: rgba(0, 0, 0, 0);
  border-width: 1px;
}
.calendar-icon02 {
  width: 24px;
  height: 24px;
}
.calendar-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.calendar-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.calendar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.calendar-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.calendar-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.calendar-image {
  height: 2rem;
}
.calendar-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.calendar-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.calendar-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.calendar-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.calendar-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.calendar-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.calendar-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.calendar-container03 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.calendar-login {
  margin-right: var(--dl-space-space-twounits);
}
.calendar-icon-group {
  display: flex;
}
.calendar-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.calendar-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.calendar-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.calendar-container04 {
  width: 100%;
  height: 1646px;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
}
.calendar-container05 {
  flex: 0 0 auto;
  width: 67%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 0px;
  flex-direction: column;
}
.calendar-container06 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 912px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: solid;
  border-width: 2px;
}
.calendar-container07 {
  flex: 0 0 auto;
  width: 33%;
  height: 100%;
  display: flex;
  padding-top: 8px;
  flex-direction: column;
  padding-bottom: 8px;
  justify-content: flex-start;
}
.calendar-container08 {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: flex-start;
}
.calendar-container09 {
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
  border-right-width: 1px;
}
.calendar-text07 {
  padding-right: var(--dl-space-space-unit);
}
.calendar-container10 {
  flex: 0 0 auto;
  width: 75%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 0px;
  flex-direction: column;
}
.calendar-container11 {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: flex-start;
}
.calendar-container12 {
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
  border-right-width: 1px;
}
.calendar-text08 {
  padding-right: var(--dl-space-space-unit);
}
.calendar-container13 {
  flex: 0 0 auto;
  width: 75%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 0px;
  flex-direction: column;
}
.calendar-container14 {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: flex-start;
}
.calendar-container15 {
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
  border-right-width: 1px;
}
.calendar-text09 {
  padding-right: var(--dl-space-space-unit);
}
.calendar-container16 {
  flex: 0 0 auto;
  width: 75%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 0px;
  flex-direction: column;
}
.calendar-container17 {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: flex-start;
}
.calendar-container18 {
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
  border-right-width: 1px;
}
.calendar-text10 {
  padding-right: var(--dl-space-space-unit);
}
.calendar-container19 {
  flex: 0 0 auto;
  width: 75%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 0px;
  flex-direction: column;
}
.calendar-container20 {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: flex-start;
}
.calendar-container21 {
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
  border-right-width: 1px;
}
.calendar-text11 {
  padding-right: var(--dl-space-space-unit);
}
.calendar-container22 {
  flex: 0 0 auto;
  width: 75%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 0px;
  flex-direction: column;
}
.calendar-container23 {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: flex-start;
}
.calendar-container24 {
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
  border-right-width: 1px;
}
.calendar-text12 {
  padding-right: var(--dl-space-space-unit);
}
.calendar-container25 {
  flex: 0 0 auto;
  width: 75%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 0px;
  flex-direction: column;
}
.calendar-container26 {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: flex-start;
}
.calendar-container27 {
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
  border-right-width: 1px;
}
.calendar-text13 {
  padding-right: var(--dl-space-space-unit);
}
.calendar-container28 {
  flex: 0 0 auto;
  width: 75%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 0px;
  flex-direction: column;
}
.calendar-container29 {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: flex-start;
}
.calendar-container30 {
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
  border-right-width: 1px;
}
.calendar-text14 {
  padding-right: var(--dl-space-space-unit);
}
.calendar-container31 {
  flex: 0 0 auto;
  width: 75%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 0px;
  flex-direction: column;
}
.calendar-container32 {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: flex-start;
}
.calendar-container33 {
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
  border-right-width: 1px;
}
.calendar-text15 {
  padding-right: var(--dl-space-space-unit);
}
.calendar-container34 {
  flex: 0 0 auto;
  width: 75%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 0px;
  flex-direction: column;
}
.calendar-container35 {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: flex-start;
}
.calendar-container36 {
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
  border-right-width: 1px;
}
.calendar-text16 {
  padding-right: var(--dl-space-space-unit);
}
.calendar-container37 {
  flex: 0 0 auto;
  width: 75%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 0px;
  flex-direction: column;
}
.calendar-container38 {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: flex-start;
}
.calendar-container39 {
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
  border-right-width: 1px;
}
.calendar-text17 {
  padding-right: var(--dl-space-space-unit);
}
.calendar-container40 {
  flex: 0 0 auto;
  width: 75%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 0px;
  flex-direction: column;
}
.calendar-container41 {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: flex-start;
}
.calendar-container42 {
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
  border-right-width: 1px;
}
.calendar-text18 {
  padding-right: var(--dl-space-space-unit);
}
.calendar-container43 {
  flex: 0 0 auto;
  width: 75%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 0px;
  flex-direction: column;
}
.calendar-container44 {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: flex-start;
}
.calendar-container45 {
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
  border-right-width: 1px;
}
.calendar-text19 {
  padding-right: var(--dl-space-space-unit);
}
.calendar-container46 {
  flex: 0 0 auto;
  width: 75%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 0px;
  flex-direction: column;
}
.calendar-container47 {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: flex-start;
}
.calendar-container48 {
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
  border-right-width: 1px;
}
.calendar-text20 {
  padding-right: var(--dl-space-space-unit);
}
.calendar-container49 {
  flex: 0 0 auto;
  width: 75%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 0px;
  flex-direction: column;
}
.calendar-container50 {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: flex-start;
}
.calendar-container51 {
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
  border-right-width: 1px;
}
.calendar-text21 {
  padding-right: var(--dl-space-space-unit);
}
.calendar-container52 {
  flex: 0 0 auto;
  width: 75%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 0px;
  flex-direction: column;
}
.calendar-container53 {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: flex-start;
}
.calendar-container54 {
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
  border-right-width: 1px;
}
.calendar-text22 {
  padding-right: var(--dl-space-space-unit);
}
.calendar-container55 {
  flex: 0 0 auto;
  width: 75%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 0px;
  flex-direction: column;
}
.calendar-container56 {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: flex-start;
}
.calendar-container57 {
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
  border-right-width: 1px;
}
.calendar-text23 {
  padding-right: var(--dl-space-space-unit);
}
.calendar-container58 {
  flex: 0 0 auto;
  width: 75%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 0px;
  flex-direction: column;
}
.calendar-container59 {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: flex-start;
}
.calendar-container60 {
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
  border-right-width: 1px;
}
.calendar-text24 {
  padding-right: var(--dl-space-space-unit);
}
.calendar-container61 {
  flex: 0 0 auto;
  width: 75%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 0px;
  flex-direction: column;
}
.calendar-container62 {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: flex-start;
}
.calendar-container63 {
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
  border-right-width: 1px;
}
.calendar-text25 {
  padding-right: var(--dl-space-space-unit);
}
.calendar-container64 {
  flex: 0 0 auto;
  width: 75%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 0px;
  flex-direction: column;
}
.calendar-container65 {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: flex-start;
}
.calendar-container66 {
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
  border-right-width: 1px;
}
.calendar-text26 {
  padding-right: var(--dl-space-space-unit);
}
.calendar-container67 {
  flex: 0 0 auto;
  width: 75%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 0px;
  flex-direction: column;
}
.calendar-container68 {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: flex-start;
}
.calendar-container69 {
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
  border-right-width: 1px;
}
.calendar-text27 {
  padding-right: var(--dl-space-space-unit);
}
.calendar-container70 {
  flex: 0 0 auto;
  width: 75%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 0px;
  flex-direction: column;
}
.calendar-container71 {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: flex-start;
}
.calendar-container72 {
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
  border-right-width: 1px;
}
.calendar-text28 {
  padding-right: var(--dl-space-space-unit);
}
.calendar-container73 {
  flex: 0 0 auto;
  width: 75%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 0px;
  flex-direction: column;
}
.calendar-container74 {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: flex-start;
}
.calendar-container75 {
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
  border-right-width: 1px;
}
.calendar-text29 {
  padding-right: var(--dl-space-space-unit);
}
.calendar-container76 {
  flex: 0 0 auto;
  width: 75%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 0px;
  flex-direction: column;
}
.calendar-container77 {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: flex-start;
}
.calendar-container78 {
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
  border-right-width: 1px;
}
.calendar-text30 {
  padding-right: var(--dl-space-space-unit);
}
.calendar-container79 {
  flex: 0 0 auto;
  width: 75%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 0px;
  flex-direction: column;
}
@media(max-width: 1600px) {
  .calendar-navlink1 {
    color: #000000;
    font-style: normal;
    font-weight: 700;
    text-decoration: underline;
  }
  .calendar-button {
    color: #ffffff;
    display: flex;
    border-width: 0px;
    flex-direction: row;
  }
  .calendar-register {
    border-width: 1px;
    border-radius: 150px;
  }
}
@media(max-width: 1200px) {
  .calendar-navlink1 {
    color: rgb(0, 0, 0);
    font-weight: 700;
    text-decoration: none;
  }
}
@media(max-width: 767px) {
  .calendar-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .calendar-desktop-menu {
    display: none;
  }
  .calendar-navlink2 {
    margin-left: var(--dl-space-space-unit);
  }
  .calendar-navlink3 {
    margin-left: var(--dl-space-space-unit);
  }
  .calendar-navlink4 {
    margin-left: var(--dl-space-space-unit);
  }
  .calendar-btn-group {
    display: none;
  }
  .calendar-burger-menu {
    display: flex;
  }
}
@media(max-width: 479px) {
  .calendar-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .calendar-mobile-menu {
    padding: 16px;
  }
}
